.container {
    height: 3000px;
    .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .container-chart {
            display: flex;
            gap: 5px;
            height: 55rem;
            .title {
                font-size: 1.9rem;
                font-weight: 500;
                line-height: 23.04px;
                margin: 0px 0px 8px;
            }
            .sales-chart,
            .channel {
                width: 100%;
                padding: 10px;
            }
            .sales-chart {
                flex: 1.2;
            }
            .channel {
                flex: .8;
            }
            .chart,
            .channel-chart {
                height: 90%;
                margin-top: 3rem;
                background-color: #ffffff;
                border-radius: 1.6rem;
                font-size: 1.4rem;
                line-height: 2.1rem;
                padding: 2.4rem;
            }
        }
        .graph {
            display: flex;
            gap: 2rem;
            height: 22.5rem;
            padding: 5px 10px;
            .graph-orders,
            .graph-sales,
            .graph-reviews {
                flex: 1;
                background-color: #ffffff;
                border-radius: 1rem;
                .title {
                    font-size: 2.1rem;
                    font-weight: 500;
                    line-height: 3rem;
                    margin: 0px 0px 16px;
                }
            }
        }
    }
}